.container h1 {
    padding: 50px;
    margin: 20px;
    font-size: 35px;
}

.container img {
    width: 150px!important;
    height: auto;
}

.container .nav-item .btn.btn-primary {
    padding: 0px !important;
}

.btn.btn-primary {
    padding: 0px !important;
}

.container .navbar-brand {
    position: fixed;
    bottom: 0;
    left: 20px;
}